<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="P.I.3PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <non-jta-data-source/>
    <class>br.com.imobiliaria.entidade.Funcao</class>
    <class>br.com.imobiliaria.entidade.Venda</class>
    <class>br.com.imobiliaria.entidade.Pessoa</class>
    <class>br.com.imobiliaria.entidade.Endereco</class>
    <class>br.com.imobiliaria.entidade.Cep</class>
    <class>br.com.imobiliaria.entidade.Imagens</class>
    <class>br.com.imobiliaria.entidade.Bairro</class>
    <class>br.com.imobiliaria.entidade.Municipio</class>
    <class>br.com.imobiliaria.entidade.Estado</class>
    <class>br.com.imobiliaria.entidade.Imovel</class>
    <class>br.com.imobiliaria.entidade.TipoImovel</class>
    <class>br.com.imobiliaria.entidade.Usuario</class>
    <class>br.com.imobiliaria.entidade.Perfil</class>
    <class>br.com.imobiliaria.entidade.Arquivo</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>